body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body, .root{
  background: linear-gradient(
    90deg, rgba(43,140,144,1) 0%, 
    rgba(9,9,121,1) 50%, 
    rgba(43,140,159,1) 100%
  );
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.calculator {
  width: 500px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px;
  padding: 80px;
  border-radius: 50px;
  background-color: rgb(12, 69, 95);
  color: white;

  .display {
    width: 500px;
    padding: 20px 30px;
    margin: 20px;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: rgb(217, 231, 245);
    color: rgb(0, 0, 0);
    font-size: 2rem;
    
    .operation-input {
      font-size: 1.5rem;
      height: 20px;
    }
    
    .result {
      border: none;
      font-size: 80px;
      font-weight: 400;
      letter-spacing: -4px;
      align-items: center;
      height: 100px;
      overflow: hidden
    }
  
  }

  input {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 2px;
    width: 96px;
    border-radius: 30px;
    font-size: 2rem;
    border: none;
  }

  .memory-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    height:50px;
    .memory-button {
      margin: 5px 0 20px 0;
      width: 80px;
      font-size: 1.5rem;
      padding: 10px;
      background: none;
      border: none;
      color: inherit;
    } 
    input:hover {
      border: 2px solid white
    }
  }

  .top-section {
    width: 500px;
    height: 150px;
    input, button {
      height: 71px;
      background-color: rgb(46, 47, 70);
      color:white;
    }
    input:hover{
      background-color: white;
      color: black
    }
  }
  .bottom-section {
    display: flex;
    width: 500px;
    height: 500px;
      .numbers {
        width: 60%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .number-button {
          height: 25%;
        }
        .number-button:hover {
          background-color: black;
          color: white;
        }
      }
      .basic-operations {
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        input {
          background-color: grey;
          color: white;
          height: 25%;
        }
        .equals {
          width: 100%;
          background-color: rgb(28, 109, 230);
        }

        input:hover{
          background-color: white;
          color: black
        }
      }
  }
}